/* index.css */
body {
    background-color:var(--color-light);
    font-family:'Pretendard', sans-serif;}
/* 상단 광고 띠 배너 전체 영역 */
header {
    position:fixed;/* 위치고정 */
    left:0; top:0; /* 좌측 상단으로 딱 붙이기 */
    width:100%; /* 화면 가로 폭 꽉 채우기(안하면 내용물만큼쪼그라듦) */
     z-index: 999; /* 설정중 맨위층으로옮기기 */
}
header .top-banner-swiper {
    height: 39px;
    background-color:var(--color-light); /* 필요한 배경색으로 변경 가능 */
    overflow: hidden;
}
/* Swiper Wrapper */
header .top-banner-swiper .swiper-wrapper {
    transition-timing-function:linear !important; /* Swiper Wrapper가 항상 일정한 속도로 움직이도록 고정 */
}
/* Swiper Slide */
header .top-banner-swiper .swiper-wrapper .swiper-slide {
    width: auto !important;
    display: flex;
    align-items: center;
    font-size: var(--d-font-size-product);
    white-space: nowrap;
}
header .top-banner-swiper .swiper-wrapper .banner-item-1 p {
    font-weight:var(--font-weight-s);
}
header .top-banner-swiper .swiper-wrapper .banner-item-1 p strong{
    font-weight:var(--font-weight-m);
}
header .top-banner-swiper .swiper-wrapper .banner-item-2 p {
    font-weight:var(--font-weight-m);
}
header .top-banner-swiper .swiper-wrapper .banner-item-2 p strong{
    font-weight:var(--font-weight-xl);
}
header .header-inner {
    height:75px;
    display:flex;
    align-items: center; /* 세로정렬중앙 */
    justify-content: space-between; /* 양 끝으로 밀어내기 (로고 / GNB / 아이콘) */
    padding:0 80px; /* 안쪽여백 */
    position: relative; /* 상대적 위치고정 */
}
header .header-inner .logo_nav {
    display: flex;
    align-items: center; /* 세로 정렬 중앙 */
    gap: 50px; /* 로고와 GNB 사이 간격 50px */
}
header .header-inner .logo {}
header .header-inner .logo a {}
header .header-inner .logo a img {
    display:block; /* img 블록처리여백없애기 */
    width:100px;
}
header .header-inner nav {}
header .header-inner nav .gnb {
    display:flex; /* 자동정렬 */
    align-items: center;/* 세로축 중앙정렬 */
    gap: 60px;/* 메뉴 글자 사이의 간격 */
    margin: 0; /* 마진 간격초기화 */
    padding: 0; /* 패딩 간격초기화 */
}
header .header-inner nav .gnb li {
    position: relative;/* 서브메뉴가 이 li를 기준으로 붙도록 설정 */
}
header .header-inner nav .gnb li a {
    letter-spacing: 0.04em; /* 피그마와 눈대중으로 구현 */
    color:var(--color-light);
    /* font-weight:var(--font-weight-m); 피그마와 눈대중으로 삭제함 */
}
header .header-inner nav .gnb li .submenu {
    display: none; 
    position: absolute;
}
header .header-inner .gnb > li:hover .submenu {
    display: block;/* 평소에 숨기기+위치 디자인필요 */
}
header .header-inner nav .gnb li .submenu li {}
header .header-inner nav .gnb li .submenu li a {
    display: block;}
header .header-inner .header-icon {
    display: flex;
    align-items: center;
    gap: 20px; /* 아이콘 사이 간격 */

}
header .header-inner .header-icon a{}
header .header-inner .header-icon a img{
    width: 22px;/* 아이콘 크기 조절 */
    height: 22px;
    display: block;

}
main {}
main .main-banner-swiper {width:100%; height:100vh;}/* 가로세로 높이만주기 */
main .main-banner-swiper .swiper-wrapper {/* 아무것도 안주기 */
}
main .main-banner-swiper .swiper-wrapper .swiper-slide {/* 대부분 값 내장- 필요한 값만주기 */
    display: flex;
    align-items: center;
}
main .main-banner-swiper .swiper-wrapper .swiper-slide {
    background-size: cover;/* 이미지가 슬라이드 전체를 채우게 */
    background-position: center;  /* 이미지 정중앙 */
    background-repeat: no-repeat; /* 이미지 반복막기*/
}
main .main-banner-swiper .swiper-wrapper .slide1 {
    background-image: url(../images/banner-slide1.jpg);
}
main .main-banner-swiper .swiper-wrapper .slide1 .banner-text {
    position:absolute;
    right:300px;
    text-align: center;
}
main .main-banner-swiper .swiper-wrapper .slide2 {
    background-image: url(../images/banner-slide2.png);
}
main .main-banner-swiper .swiper-wrapper .slide2 .banner-text {
    position:absolute;
    left:300px;
    text-align: center;
}
main .main-banner-swiper .swiper-wrapper .swiper-slide .banner-text h2 {
    font-family: 'Times New Roman', serif;
    font-size:4.375em;
    margin-bottom: 20px; /* 제목과 설명글 사이 간격 */
}
main .main-banner-swiper .swiper-wrapper .swiper-slide .banner-text p {
    font-size:1.375em;
}
main .main-banner-swiper .banner-scrollbar {
    position: absolute;     /* 배너 안에서 자유롭게 배치하기 위함 */
    bottom: 78px;           /* 배너 맨 아래에서 위로 30px 떨어진 곳에 배치 */
    left: auto;             /* 왼쪽으로 붙으려는 값 초기화 */
    right: 157px;           /* 오른쪽에서 150px떨어짐 */
    width: 510px;           /* 스크롤바 전체 길이 (원하는 px이나 %로 조절) */
    height: 3px;            /* 스크롤바 두께 */
    background: #D9d9d9; /* 스크롤바 바탕색 (반투명 흰색) */
    border-radius: 4px;     /* 테두리를 둥글게 */
    z-index: 10;            /* 이미지나 텍스트 뒤로 숨지 않도록 앞으로 끌어오기 */
}
main .main-banner-swiper .banner-scrollbar .swiper-scrollbar-drag {
    background: var(--color-dark);    /* 움직이는 바의 색상 */
    border-radius: 4px;     /* 둥글게 처리 */
}
/* 2행 */
main .bestnew-container {
    padding: 100px 0;
}
main .bestnew-container .bestnew-tabs {
    display:flex;
    align-items: center; /* 세로 일정하게 정렬 */
    padding:0 130px;
    gap:20px;
}
main .bestnew-container .bestnew-tabs .tab-btn {
    position:relative;
}
main .bestnew-container .bestnew-tabs .tab-btn:first-child::after {
    content: '';/* (빈 문자열) */
    position: absolute;/* 부모 기준으로 위치를 고정 */
    top: 50%;/* 위에서 50% 지점에 내리기 */
    transform: translateY(-50%); /* 높이의 반만큼 위로 올려서 정확한 수직 정렬 */
    right: -1px;/* BEST 버튼 오른쪽 바깥으로 떨어지게 설정 (-값 또는 px 조절) */
    width: 1px;/* 선의 두께 */
    height: 21px;/* 선의 높이 */
    background-color:var(--color-light-gray);   /* 선의 색상 (회색) */
    display: inline-block;/* 인라인처럼 나란히설수잇으면서 원하는대로 키울수잇는 블록의 장점결합 */
}
main .bestnew-container .bestnew-product .best-list {
    display: flex; flex-flow: row nowrap;
    gap: 20px;
}
main .bestnew-container .bestnew-product .best-list .product-item {
}
main .bestnew-container .bestnew-product .best-list .product-item a {}
main .bestnew-container .bestnew-product .best-list .product-item a .product-img {
    width: 360px;
    height: 420px;
    overflow: hidden;
    display:block;
}
main .bestnew-container .bestnew-product .best-list .product-item a .product-img img {
    width:100%; height: 100%;
    object-fit: cover;
}
main .bestnew-container .bestnew-product .best-list .product-item a .product-info {}
main .bestnew-container .bestnew-product .best-list .product-item a .product-info h3 {}
main .bestnew-container .bestnew-product .best-list .product-item a .product-info p {}